<form>
  <div>
    <label for="clipboardInput">Paste monster data</label>
    <textarea id="clipboardInput" name="clipboardInput" rows="4" cols="50"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" name="submit" value="submit">Okay</button>
  </div>
</form>
