<form>
  <div class="form-group">
    <label for="jsonfile">Import from file</label>
    <div class="form-fields">
      {{filePicker target="jsonfile"}}
      <input type="text" name="jsonfile" placeholder="path/file.[json, csv, txt]" value="{{object.jsonfile}}" />
    </div>
  </div>
  <div>
    <label for="clipboardInput">Paste table data:</label>
    <textarea id="clipboardInput" name="clipboardInput" rows="4" cols="50"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" name="submit" value="submit">Okay</button>
  </div>
</form>
